{% extends "includes/wrapper.html" %}
{% block title %}Создание новости{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="mb-3">
                    <h2 class="text-center">Страница загрузки файла</h2>
                </div>
                <form method="POST" action="{% url 'file_upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col"> {{ form.file.label_tag }}</div>
                            <div class="col-5 text-right">
                                <small>{{ form.file.help_text }}</small>
                            </div>
                        </div>
                        {{ form.file }}
                        <div class="form-check form-switch">
                            {{ form.is_private }}
                            <label class="form-check-label" for="flexSwitchCheckDefault">
                                {{ form.is_private.label }}
                            </label>
                        </div>
                        {% if form.file.errors %}
                            <div class="alert alert-danger mt-1">
                                {% for err in form.file.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <input class="btn btn-secondary" type="submit" value="Загрузить">
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}